/* ==========================================================================
   >>MODULES
   ========================================================================== */
$pad: 1.95%; //rem(30)

/* --------------------------------------------------------------------------
   ->...
   -------------------------------------------------------------------------- */
html,
body {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  background: $blanc url(img/circlefloow_3200.jpg) no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  &:after {
    content: " ";
    display: block;
    width: 60%;
    width: 130vh;
    max-width: 100%;
    height: 53.78%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to right, rgba($couleur1,1) 0%,rgba($couleur1,0) 100%);
  }
}

// 5200*1978
// 4200*1598
// 3200*1217
// 2200*837
// 1200*457
@media only screen and (min-height: 1218px) {
  body {
    background-image: url(img/circlefloow_4200.jpg);
  }
}

@media only screen and (min-height: 1599px) {
  body {
    background-image: url(img/circlefloow_5200.jpg);
  }
}

.logo {
  width: rem(80);
  width: 14vh;
  min-width: rem(80);
  position: absolute;
  top: 0;
  margin-top: $pad;
  right: $pad;
  z-index: 1000;
  &:after {
    content: " ";
    display: block;
    padding-top: 100% * (130 / 150);
  }
}
.logo_svg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  fill: $blanc;
}
$logo_anim_time: 8;
.logo_fig {
  visibility: hidden;
  animation: appear #{$logo_anim_time}s steps(7, end) infinite;
}
#fig2 {
  animation-delay: #{1 * $logo_anim_time / 8}s;
}
#fig3 {
  animation-delay: #{2 * $logo_anim_time / 8}s;
}
#fig4 {
  animation-delay: #{3 * $logo_anim_time / 8}s;
}
#fig5 {
  animation-delay: #{4 * $logo_anim_time / 8}s;
}
#fig6 {
  animation-delay: #{5 * $logo_anim_time / 8}s;
}
#fig7 {
  animation-delay: #{6 * $logo_anim_time / 8}s;
}
#fig8 {
  animation-delay: #{7 * $logo_anim_time / 8}s;
}

@keyframes appear {
  0% {
    visibility: visible;
  }
  12.5% {
    visibility: hidden;
  }
  // 100% {
  //   opacity: 0;
  // }
  // to {
  //   visibility: hidden;
  // }
}

.main,
.footer {
  position: absolute;
  left: 0;
  width: 100%;
  padding-left: $pad;
  padding-right: $pad;
  z-index: 500;
}

.main {
  top: 0;
  margin-top: $pad;
}
.title {
  line-height: 1;
  font-size: rem(43); //68
  font-size: 10.23vh;
}
.sTitle {
  max-width: 20em;
  margin-top: .4em;
  font-size: rem(12); //18
  font-size: 3.08vh;
}

.footer {
  top: 53.78%;
  margin-top: $pad;
  font-size: rem(10);
  font-size: 2.57vh;
  li {
    margin-bottom: .1em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}


@media only screen and (min-aspect-ratio: 2600/989) {
  body {
    &:after {
      height: 100%;
      height: 20.43vw;
    }
  }
}

@media only screen and (max-aspect-ratio: 25/30) {
  body {
    &:after {
      width: 100%;
    }
  }

  .logo {
    width: 14vw * 1.2;
  }

  .title {
    font-size: 10.23vw * 1.2;
  }
  .sTitle {
    font-size: 3.08vw * 1.2;
  }

  .footer {
    font-size: 2.57vw * 1.2;
  }
}

@media only screen and (max-height: em(10 * 100 / 2.57)), only screen and (max-width: em(10 * 100 / (2.57 * 1.2))) {
  .sTitle {
    font-size: rem(12);
  }
  .footer {
    font-size: rem(10);
  }
}
