//Couleurs basiques
//=================
$noir: #000;
$blanc: #fff;
$gris: #F6F6F6;
$jaune: #ff0;
$rouge: #cb1d1d;

//Couleurs principales du projet
//==============================
$couleur1: #727fbb;
$couleur2: #a62e79;
$couleur3: #292970;

//Couleurs générales
//==================
$bg-color-body: $couleur1;
$color-txt-body: $blanc;

//Couleur de la sélection
//=======================
$couleur-selection-bg: $couleur3;
$couleur-selection-ft: $blanc;
