/* ==========================================================================
   >>MODULES
   ========================================================================== */
$pad: 1.95%; //rem(30)

/* --------------------------------------------------------------------------
   ->...
   -------------------------------------------------------------------------- */
html,
body {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  background: $bg-color-body url(img/bg_3000.png) no-repeat center center;
  background-size: 100% auto;
  background-attachment: fixed;
  overflow: hidden;
  text-align: center;
}

.logo {
  width: 26.8%;
  // min-width: rem(80);
  position: relative;
  margin: auto;
  // margin-bottom: 4.8vh;
  margin-bottom: 2.5vw;
  &:after {
    content: " ";
    display: block;
    padding-top: 100% * (130 / 150);
  }
}
.logo_svg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  fill: $blanc;
}
$logo_anim_time: 8;
.logo_fig {
  visibility: hidden;
  animation: appear #{$logo_anim_time}s steps(7, end) infinite;
}
#fig2 {
  animation-delay: #{1 * $logo_anim_time / 8}s;
}
#fig3 {
  animation-delay: #{2 * $logo_anim_time / 8}s;
}
#fig4 {
  animation-delay: #{3 * $logo_anim_time / 8}s;
}
#fig5 {
  animation-delay: #{4 * $logo_anim_time / 8}s;
}
#fig6 {
  animation-delay: #{5 * $logo_anim_time / 8}s;
}
#fig7 {
  animation-delay: #{6 * $logo_anim_time / 8}s;
}
#fig8 {
  animation-delay: #{7 * $logo_anim_time / 8}s;
}

@keyframes appear {
  0% {
    visibility: visible;
  }
  12.5% {
    visibility: hidden;
  }
}

.main {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-top: rem(-30);
  // margin-top: calc(-1.1vw - 1.875rem);
  z-index: 1000;
}

.t {
  text-transform: uppercase;
  letter-spacing: 0.35vw;
  font-size: 1.3vw;
}

.st {
  margin-top: 1.5vw;
  font-size: 1.2vw;
}

.footer {
  position: absolute;
  bottom: rem(30);
  left: 0;
  width: 100%;
  z-index: 1500;
  // font-size: rem(14);
  font-size: 1.1vw;
  li {
    display: inline-block;
    margin-right: 3vw;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
