/* ==========================================================================
   >>PRINT
   ========================================================================== */
@media print {
    /* Général */
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    @page {
        margin: 0.5cm;
    }

    /* Liens, abbr */
    a[href]:after,
    a[href]:after {
        content: " : " attr(href);
    }
    /* Pas pour images (classe à ajoutée...), liens internes et js */
    a[href^="mailto:"]:after {
        content: "";
    }
    a[href^="mailto:"]:before {
        content: "Email : ";
    }

    .logo {
      display: none;
    }
    .main,
    .footer {
      position: static;
    }
    .main {
      transform: none;
      margin-top: 0;
      padding-top: rem(80);
    }
    h1.srOnly {
      position: static;
    	height: auto!important;
      width: auto!important;
      clip: none;
    	clip-path: none;
    	white-space: normal;
      text-transform: uppercase;
      font-size: em(24);
    }
    .t {
      // text-transform: uppercase;
      margin-top: .5rem;
      letter-spacing: .1em;
      font-size: em(18);
    }
    .st {
      margin-top: .5rem;
      font-size: em(16);
    }
    .footer {
      margin-top: rem(80);
      font-size: em(14);
    }
    .footer li {
      display: block;
      margin-right: 0;
    }
}
